/*
Author: Amandine ARIAS;
Project: Ohmyfood!;
Type: website;
Description: mockup integration;
First version: 02/02/2021;
Tags: web, gastronomic restaurant, order online, no wait;
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  width: 90%;
  max-width: 1000px;
  margin: 10px auto;
}
body a,
body a:visited {
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
}
body li {
  list-style: none;
  display: inline-block;
}
body li a, body li a:visited {
  text-decoration: none;
  text-align: center;
}
body button::-moz-focus-inner,
body a::-moz-focus-inner {
  border: 0;
}

main {
  padding-bottom: 25px;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 400;
}

.evitement {
  font-size: xx-small;
  color: white;
}
.evitement:hover {
  color: black;
}

.header__tags {
  font-size: small;
}
.header__headline {
  font-size: large;
  color: #901c1c;
}

nav {
  text-align: center;
  line-height: 2em;
}

.btn {
  font-size: small;
  font-weight: 700;
  background-color: #901c1c;
  color: white;
}
.btn:hover, .btn:focus {
  background-color: #db8876;
  color: black;
}

.photographer__name {
  font-size: xx-large;
  font-weight: 400;
  color: #d3573c;
  border-radius: 3px;
  line-height: 1.5em;
}
.photographer__name:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #db8876;
}
.photographer__location {
  font-size: large;
  color: #901c1c;
  border-radius: 3px;
  line-height: 1.5em;
}
.photographer__location:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #901c1c;
}
.photographer__tagline {
  font-weight: 700;
  border-radius: 3px;
  line-height: 1.5em;
}
.photographer__tagline:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}
.photographer__price {
  font-size: small;
  font-weight: 300;
  border-radius: 3px;
  line-height: 2em;
}
.photographer__price:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

.filter__title, .filter__select {
  font-weight: 700;
}
.filter__select, .filter__options {
  color: white;
  font-size: small;
}

.gallery {
  color: #901c1c;
}

.footer {
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .photographer__name {
    font-size: x-large;
  }
  .photographer__price {
    font-size: small;
  }
}
@media only screen and (max-width: 426px) {
  .photographer__name {
    font-size: large;
  }
  .photographer__location {
    font-size: small;
  }
  .photographer__tagline {
    font-size: xx-small;
  }
}
.btn {
  border: unset;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
}
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px white, 0 0 0 6px #db8876;
}

.evitement {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
.evitement__link {
  position: fixed;
  padding: 3px 6px;
}

@media only screen and (max-width: 600px) {
  .evitement {
    display: none;
  }
  .evitement__link {
    top: 92%;
  }

  .evitement.scroll {
    display: inline-flex;
    transition: all 1s ease;
  }
}
.header {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}
.header__logo {
  width: 200px;
  padding: 5px 5px 0;
}
.header__headline {
  padding: 0 5px;
  text-align: left;
}

.nosPhotographes,
.photographerId h2 {
  border-radius: 3px;
}
.nosPhotographes:focus,
.photographerId h2:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #901c1c;
}

.banner {
  justify-content: flex-start;
  margin: 25px 0;
}
.banner__logo {
  width: 150px;
  padding: 5px 5px 0;
}

@media only screen and (max-width: 600px) {
  .header {
    display: block;
    width: 90%;
    margin: auto;
    position: relative;
  }
  .header__logo {
    width: 125px;
    margin: 25px 0;
  }
  .header__headline {
    position: absolute;
    top: 36px;
    right: 0;
    font-size: small;
  }

  .banner {
    width: 90%;
    margin: 25px auto;
  }
}
@media only screen and (max-width: 426px) {
  .banner {
    width: 100%;
  }
}
.tagsNav li a,
.tags li a {
  text-align: center;
  font-size: small;
  border-radius: 25px;
  border: solid 1px lightgray;
  background-color: white;
  margin: 0 2px;
  padding: 0 5px;
  color: #901c1c;
}
.tagsNav li a.selected, .tagsNav li a:hover,
.tags li a.selected,
.tags li a:hover {
  cursor: pointer;
  border-radius: 25px;
  border: solid 1px #901c1c;
  background-color: #901c1c;
  color: white;
}
.tagsNav li a:focus,
.tags li a:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #901c1c;
}

@media only screen and (max-width: 426px) {
  .tagsNav .tags li a {
    font-size: xx-small;
  }
}
.photographer {
  width: 33%;
  text-align: center;
  padding: 25px 0;
}
.photographer__image {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}
.photographer__image img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  transition: all 0.5s ease;
}
.photographer__image img:hover, .photographer__image img:focus {
  transform: scale(1.25);
  transform-origin: 50% 50%;
}
.photographer__name, .photographer__slogan, .photographer .tag {
  margin-top: 10px;
}

@media only screen and (max-width: 426px) {
  .photographer {
    width: 100%;
    padding: 0 0 25px;
  }
}
.id {
  background-color: #fafafa;
  border-radius: 3px;
  padding: 25px;
}
.id__card {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.id__card ul {
  margin: 10px 0;
}
.id .tag {
  margin-top: 10px;
}
.id__image {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow: hidden;
}
.id__image img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  transition: all 0.5s ease;
}
.id__image img:hover, .id__image img:focus {
  transform: scale(1.25);
  transform-origin: 50% 50%;
}

@media only screen and (max-width: 769px) {
  .id {
    width: 100%;
  }
  .id__contact {
    position: fixed;
    margin-top: 10px;
    bottom: 25px;
    width: 175px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
  }
  .id__image {
    width: 125px;
    height: 125px;
    margin-right: 10px;
  }
  .id__image img {
    width: 125px;
    height: 125px;
  }
}
@media only screen and (max-width: 600px) {
  .id {
    width: 90%;
    margin: auto;
  }
}
@media only screen and (max-width: 426px) {
  .id {
    width: 100%;
    margin-bottom: 50px;
    padding: 0;
  }
  .id__infos {
    margin-left: 10px;
    width: 65%;
  }
  .id__image {
    width: 85px;
    height: 85px;
    margin-right: 10px;
  }
  .id__image img {
    width: 85px;
    height: 85px;
  }
  .id ul {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.form__modal {
  display: none;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.form__content {
  margin: 5% auto;
  width: 90%;
  min-width: 320px;
  max-width: 425px;
  max-height: 555px;
  background: #db8876;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  color: black;
}
.form__body {
  padding: 5px 5%;
  margin: 10px auto;
}
.form__body--title, .form__body--name {
  font-size: x-large;
  font-weight: 400;
  color: black;
}
.form__close {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 2%;
  font-size: 20px;
  cursor: pointer;
}
.form__close:hover {
  color: white;
}
.form__confirmation {
  position: fixed;
  z-index: -1;
  opacity: 0;
  max-width: 425px;
  width: 80%;
  background-color: #db8876;
  border-radius: 5px;
  top: 220px;
  padding: 50px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
}

label {
  font-family: var(--font-default);
  font-size: medium;
  display: inline-block;
  margin: 5px 0;
}

.text-control,
.text-area {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 3px;
  border: 0.8px solid #ccc;
  outline: none;
}

.tex-control {
  height: 50px;
}

.text-area {
  height: 150px;
}

.formData small {
  padding-left: 5px;
  font-size: x-small;
  color: white;
  visibility: hidden;
}

.formData.error small {
  visibility: visible;
}

#errorForm {
  width: 85%;
  margin: auto;
  text-align: center;
  font-weight: 300;
  color: darkgrey;
}

.btn-submit {
  background: #901c1c;
  display: block;
  border-radius: 5px;
  border: 0;
  margin: 20px auto 10px;
  padding: 15px 30px;
  color: #fff;
  cursor: pointer;
}

.filter {
  display: inline-flex;
  margin: 50px 0;
}
.filter__title {
  padding: 10px 10px 0 0;
  border-radius: 3px;
}
.filter__title:focus {
  padding: 10px 10px 0 10px;
  margin-left: -10px;
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}
.filter__box {
  cursor: pointer;
}
.filter__box.open .filter__selected {
  border-radius: 3px 3px 0 0;
}
.filter__box.open .selected {
  display: none;
}
.filter__selected {
  width: 105px;
  text-align: left;
}
.filter__selected:hover, .filter__selected:active {
  background-color: #901c1c;
  color: white;
}
.filter__arrow {
  position: absolute;
  margin-left: -32px;
  padding: 10px;
  color: white;
  transition: all 0.5s;
}
.filter__box.open .filter__arrow {
  transform: rotateX(180deg);
}
.filter__options {
  position: absolute;
  width: 105px;
  background-color: #901c1c;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}
.filter__box.open .filter__options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  border-radius: 0 0 3px 3px;
}
.filter__option {
  padding: 10px 0;
  width: 105px;
  border-top: 1px solid white;
  border-left: 10px solid #901c1c;
  border-right: 10px solid #901c1c;
}
.filter__option--3 {
  border-radius: 0 0 3px 3px;
}
.filter__option--1:hover, .filter__option--2:hover, .filter__option--3:hover {
  background-color: #db8876;
  border-left: 10px solid #db8876;
  border-right: 10px solid #db8876;
  color: black;
  font-weight: 700;
}

@media only screen and (max-width: 769px) {
  .filter {
    display: none;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.gallery__card {
  margin-bottom: 15px;
}
.gallery__media {
  width: 275px;
  height: 275px;
  border-radius: 3px;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
}
.gallery__media:focus {
  outline: none;
  box-shadow: 0 0 0 3px white, 0 0 0 6px #901c1c;
}
.gallery__media img, .gallery__media video {
  width: 275px;
  height: 275px;
  object-fit: cover;
  transition: all 0.5s ease;
}
.gallery__media img:hover, .gallery__media img:focus, .gallery__media video:hover, .gallery__media video:focus {
  transform: scale(1.25);
  transform-origin: 50% 50%;
  outline: none;
  box-shadow: 0 0 0 3px white, 0 0 0 6px #901c1c;
}
.gallery__content {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin: 10px 0;
}
.gallery__infos {
  width: 212px;
}
.gallery__title {
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gallery__title:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #901c1c;
}
.gallery__likes--btn {
  width: 14px;
  height: 13px;
  appearance: none;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  color: #901c1c;
}
.gallery__likes--btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #901c1c;
}
.gallery__likes--btn:hover {
  color: #db8876;
  transition: color 0.5s;
}
.gallery__likes--btn.selected {
  cursor: pointer;
  color: #db8876;
}
.gallery__likes--btn.selected:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #db8876;
}
.gallery__likes--btn.selected:hover {
  color: #901c1c;
  transition: color 0.5s;
}
.gallery__likes--count {
  all: unset;
  width: 35px;
  border-radius: 3px;
  padding: 0 2px;
  margin-right: 3px;
  text-align: right;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: inherit;
  font-weight: 700;
  color: #901c1c;
}
.gallery__likes--count:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #901c1c;
}

@media only screen and (max-width: 769px) {
  .gallery {
    margin-top: 50px;
  }
  .gallery__card {
    width: 45%;
  }
  .gallery__media {
    width: 100%;
    height: 225px;
  }
  .gallery__media img, .gallery__media video {
    width: 100%;
    height: 225px;
  }
  .gallery__infos {
    width: 185px;
  }
}
@media only screen and (max-width: 600px) {
  .gallery__card {
    width: 90%;
  }
  .gallery__media {
    height: 250px;
  }
  .gallery__media img, .gallery__media video {
    height: 250px;
  }
}
@media only screen and (max-width: 426px) {
  .gallery__card {
    width: 100%;
  }
  .gallery__media {
    height: 200px;
  }
  .gallery__media img, .gallery__media video {
    height: 200px;
  }
}
.no-scroll {
  overflow: hidden;
}

.lightbox__modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}
.lightbox__show {
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  overflow: hidden;
  position: relative;
  max-width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lightbox__media {
  max-width: 100%;
  max-height: 650px;
  border-radius: 3px;
  margin: 0 15px;
}
.lightbox__title {
  margin-top: 5px;
  color: #901c1c;
}
.lightbox__btn {
  all: unset;
  position: absolute;
  cursor: pointer;
  color: #901c1c;
  font-size: 20px;
  transition: 0.5s ease;
  padding: 2%;
  border-radius: 3px;
}
.lightbox__btn--prev, .lightbox__btn--next {
  top: 45%;
}
.lightbox__btn--prev {
  left: 0;
}
.lightbox__btn--next {
  right: 0;
  margin-top: -5px;
}
.lightbox__btn--close {
  right: 0;
  top: 4px;
}
.lightbox__btn:hover, .lightbox__btn:focus {
  color: #db8876;
}
.lightbox__btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #db8876;
}

@media only screen and (max-width: 426px) {
  .lightbox__btn {
    padding: 1%;
    font-size: 12px;
  }
  .lightbox__btn--prev {
    left: 5px;
  }
  .lightbox__btn--next {
    right: 5px;
  }
  .lightbox__btn--close {
    right: 5px;
  }
}
.footer {
  position: fixed;
  display: inline-flex;
  justify-content: space-around;
  bottom: 0;
  width: 200px;
  padding: 10px;
  background-color: #db8876;
  border-radius: 5px 0 0 0;
  right: 0;
}
.footer__content {
  display: inline-flex;
  align-items: center;
}

footer input {
  width: 30px;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  pointer-events: none;
  margin-right: 5px;
  padding: 0;
  text-align: right;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
}
footer input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #db8876, 0 0 0 4px black;
}

footer i {
  padding-top: 1px;
  width: 14px;
  height: 14px;
  font-size: small;
  border-radius: 50%;
}
footer i:focus {
  outline: none;
  box-shadow: 0 0 0 2px #db8876, 0 0 0 4px black;
}

footer p {
  border-radius: 3px;
}
footer p:focus {
  outline: none;
  box-shadow: 0 0 0 2px #db8876, 0 0 0 4px black;
}

@media only screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}
.photographers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 25px;
}

@media only screen and (max-width: 600px) {
  .photographers {
    display: block;
    width: 90%;
    margin: 25px auto;
  }
}
.no-scroll {
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
