.form {
  &__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    margin: 5% auto;
    width: 100%;
    max-width: 425px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: $secondaire-bg;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    color: $secondaire-a;
  }

  &__body {
    padding: 5px 5%;
    margin: 10px auto;

    &--title,
    &--name {
      font-size: $l;
      font-weight: $regular;
      color: $secondaire-a;
    }
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 2%;
    font-size: 20px;
    cursor: pointer;
  }

  &__confirmation {
    position: fixed;
    z-index: -1;
    opacity: 0;
    max-width: 425px;
    width: 80%;
    background-color: $secondaire-bg;
    border-radius: 5px;
    top: 220px;
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primaire-a;
    font-weight: 300;
  }
}

label {
  font-family: var(--font-default);
  font-size: $m;
  display: inline-block;
  margin: 5px 0;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control,
.text-area {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 3px;
  font-size: medium;
}
.tex-control {
  height: 50px;
}
.text-area {
  height: 150px;
}

.formData small {
  padding-left: 5px;
  font-size: x-small;
  color: $primaire-a;
  visibility: hidden;
}

.formData.error small {
  visibility: visible;
}

#errorForm {
  width: 85%;
  margin: auto;
  text-align: center;
  font-weight: 300;
  color: darkgrey;
}

.btn-submit {
  background: $primaire-bg;
  display: block;
  border-radius: 5px;
  border: 0;
  margin: 20px auto 10px;
  padding: 15px 30px;
  font-size: medium;
  color: #fff;
  cursor: pointer;
}
