// liste déroulante FILTRES : "popularité" - "date" - "titre"
// page pro photographe
.filter {
  display: inline-flex;
  margin: 50px 0;

  &__title {
    margin: 10px 10px 0 0;
  }

  &__box {
    cursor: pointer;
  }

  &__box.open .filter__selected {
    border-radius: 3px 3px 0 0;
  }

  &__box.open .selected {
    display: none;
  }

  &__selected {
    width: 105px;
    text-align: left;

    &:hover,
    &:active {
      background-color: $primaire-bg;
      color: $primaire-a;
    }
  }

  &__arrow {
    position: absolute;
    margin-top: 3px;
    margin-left: -32px;
    padding: 10px;
    color: white;
    transition: all 0.5s;
  }

  &__box.open .filter__arrow {
    transform: rotateX(180deg);
    margin-top: 2px;
  }

  &__options {
    position: absolute;
    width: 105px;
    background-color: $primaire-bg;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
  }

  &__box.open .filter__options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__option {
    padding: 10px 0;
    width: 105px;
    border-top: 1px solid white;
    border-left: 10px solid $primaire-bg;
    border-right: 10px solid $primaire-bg;

    &--1:hover,
    &--2:hover,
    &--3:hover {
      background-color: $secondaire-bg;
      border-left: 10px solid $secondaire-bg;
      border-right: 10px solid $secondaire-bg;
      color: $secondaire-a;
      font-weight: 700;
    }
  }
}

@media only screen and (max-width: 600px) {
  .filter {
    display: none;
  }
}
