.footer {
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  bottom: 0;
  width: 175px;
  padding: 10px;
  background-color: $secondaire-bg;
  border-radius: 5px 0 0 0;
  right: 0;

  &__content {
    width: 50%;
    display: inline-flex;
  }
}

footer input {
  margin-right: -5px;
  width: 50px;
  text-align: right;
  background-color: transparent;
  border: none;
  pointer-events: none;
  font-family: $type;
  font-size: $xs;
  font-weight: $bold;
  padding: 0;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}
