.footer {
  position: fixed;
  display: inline-flex;
  justify-content: space-around;
  bottom: 0;
  width: 200px;
  padding: 10px;
  background-color: $secondaire-bg;
  border-radius: 5px 0 0 0;
  right: 0;

  &__content {
    display: inline-flex;
    align-items: center;
  }
}

footer input {
  width: 30px;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  pointer-events: none;
  margin-right: 5px;
  padding: 0;
  text-align: right;
  font-family: inherit;
  font-size: inherit;
  font-weight: $bold;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $secondaire-bg, 0 0 0 4px $secondaire-a;
  }
}

footer i {
  padding-top: 1px;
  width: 14px;
  height: 14px;
  font-size: $s;
  border-radius: 50%;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $secondaire-bg, 0 0 0 4px $secondaire-a;
  }
}

footer p {
  border-radius: 3px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $secondaire-bg, 0 0 0 4px $secondaire-a;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}
