.footer {
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  bottom: 0;
  width: 200px;
  padding: 10px;
  background-color: $secondaire-bg;
  border-radius: 5px 0 0 0;
  right: 0;

  &__content {
    width: 50%;
    display: inline-flex;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}
