.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  &__card {
    margin-bottom: 15px;
  }

  &__media {
    width: 275px;
    height: 275px;
    border-radius: 3px;
    margin: auto;
    overflow: hidden;
    cursor: pointer;

    & img,
    & video {
      width: 275px;
      height: 275px;
      object-fit: cover;
      transition: all 0.5s ease;

      &:hover,
      &:focus {
        transform: scale(1.25);
        transform-origin: 50% 50%;
        outline: none;
        box-shadow: 0 0 0 3px white, 0 0 0 6px $primaire-bg;
      }
    }
  }
  // &__media {
  //   width: 275px;
  //   height: 275px;
  //   border-radius: 3px;
  //   margin: auto;
  //   overflow: hidden;
  //   cursor: pointer;

  //   &:focus {
  //     outline: none;
  //     box-shadow: 0 0 0 3px white, 0 0 0 6px $primaire-bg;
  //   }
  // }

  // &__link {

  //   & img,
  //   & video {
  //     width: 275px;
  //     height: 275px;
  //     object-fit: cover;
  //     transition: all 0.5s ease;

  //     &:hover,
  //     &:focus {
  //       transform: scale(1.25);
  //       transform-origin: 50% 50%;
  //     }
  //   }
  // }

  &__content {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  &__infos {
    width: 212px;
  }

  &__title {
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px white, 0 0 0 4px $primaire-bg;
    }
  }

  &__likes {

    &--btn {
      width: 14px;
      height: 13px;
      appearance: none;
      border: none;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;
      color: $primaire-bg;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px white, 0 0 0 4px $primaire-bg;
      }

      &:hover {
        color: $secondaire-bg;
        transition: color 2.5s;
      }
    }

    &--btn.selected {
      cursor: pointer;
      color: $secondaire-bg;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px white, 0 0 0 4px $secondaire-bg;
      }

      &:hover {
        color: $primaire-bg;
        transition: color 2.5s;
      }
    }

    &--count {
      width: 35px;
      background-color: transparent;
      border: none;
      border-radius: 3px;
      padding: 0 2px;
      margin-right: 3px;
      pointer-events: none;
      text-align: right;
      font-family: $type;
      font-size: inherit;
      font-weight: $bold;
      color: $secondaire-txt;
      user-select: none;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px white, 0 0 0 4px $primaire-bg;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .gallery {
    &__media {
      width: 100%;
      height: 200px;

      & img,
      & video {
        width: 100%;
        height: 200px;
      }
    }
  }
}
