.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25px;

  &__card {
    margin-bottom: 15px;
  }

  &__media {
    width: 200px;
    height: 200px;
    border-radius: 3px;
    margin: auto;
    overflow: hidden;
    cursor: pointer;

    & img,
    & video {
      width: 200px;
      height: 200px;
      object-fit: cover;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.25);
        transform-origin: 50% 50%;
      }
    }
  }

  &__content {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  &__infos {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
  }

  &__title {
    width: 100%;
  }

  &__likes {
    display: inline-flex;
    justify-content: flex-end;

    &--icon {
      cursor: pointer;
      color: $primaire-bg;

      &:hover {
        color: $secondaire-bg;
        transition: color .5s;
      }
    }

    &--icon.selected {
      cursor: pointer;
      color: $secondaire-bg;

      &:hover {
        color: $primaire-bg;
      }
    }

    &--count {
      border: none;
      width: 50px;
      padding: 0;
      pointer-events: none;
      text-align: right;
      background-color: transparent;
      font-family: $type;
      font-size: $xs;
      font-weight: $bold;
      color: $secondaire-txt;
      position: absolute;
      margin-right: 3px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .gallery {
    &__media {
      width: 100%;

      & img,
      & video {
        width: 100%;
      }
    }

    &__likes--count {
      margin-right: 20px;
    }
  }
}
