.header {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;

  &__logo {
    width: 200px;
    padding: 5px 5px 0;
  }

  &__headline {
    padding: 0 5px;
    text-align: left;
  }
}

.nosPhotographes,
.photographerId h2 {
  border-radius: 3px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px white, 0 0 0 4px $primaire-bg;
  }
}

.banner {
  justify-content: flex-start;
  margin: 25px 0;

  &__logo {
    width: 150px;
    padding: 5px 5px 0;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    display: block;
    width: 90%;
    margin: auto;
    position: relative;

    &__logo {
      width: 125px;
      margin: 25px 0;
    }

    &__headline {
      position: absolute;
      top: 36px;
      right: 0;
      font-size: $s;
    }
  }

  .banner {
    width: 90%;
    margin: 25px auto;
  }
}

@media only screen and (max-width: 426px) {
  .banner {
    width: 100%;
  }
}
