.lightbox {
  &__modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 1);
  }

  &__show {
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    overflow: hidden;
    position: relative;
    max-width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__media {
    max-width: 100%;
    max-height: 750px;
    border-radius: 3px;
    margin: auto;
  }

  &__title {
    width: 100%;
    color: $primaire-a;
    text-align: center;
    margin-top: 5px;
  }

  &__btn {
    position: absolute;
    cursor: pointer;
    color: $primaire-a;
    opacity: .5;
    padding: 2%;
    font-size: 20px;
    transition: 0.5s ease;
    user-select: none;
    &:hover {
      opacity: 1;
    }
  }

  &__prev,
  &__next {
    top: 50%;
    margin-top: -20px;
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }

  &__close {
    right: 0;
    top: 0;
  }
}
