.no-scroll {
  overflow: hidden;
}

.lightbox {
  &__modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
  }

  &__show {
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    overflow: hidden;
    position: relative;
    max-width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__media {
    max-width: 100%;
    max-height: 650px;
    border-radius: 3px;
    margin: 0 15px;
  }

  &__title {
    margin-top: 5px;
    color: $secondaire-txt;
  }

  &__btn {
    all: unset;
    position: absolute;
    cursor: pointer;
    color: $secondaire-txt;
    font-size: 20px;
    transition: 0.5s ease;
    padding: 2%;
    border-radius: 3px;

    &--prev,
    &--next {
      top: 45%;
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
      margin-top: -5px;
    }

    &--close {
      right: 0;
      top: 4px;
    }

    &:hover,
    &:focus {
      color: $secondaire-bg;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px white, 0 0 0 4px $secondaire-bg;
    }
  }
}

@media only screen and (max-width: 426px) {
  .lightbox {
    &__btn {
      padding: 1%;
      font-size: 12px;

      &--prev {
        left: 5px;
      }

      &--next {
        right: 5px;
      }

      &--close {
        right: 5px;
      }
    }
  }
}
