.lightbox {
  &__modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
  }

  &__show {
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    overflow: hidden;
    position: relative;
    max-width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__media {
    max-width: 100%;
    max-height: 750px;
    border-radius: 3px;
    margin: auto;
  }

  &__title {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    color: $secondaire-txt;
    font-size: $m;
  }

  &__btn {
    position: absolute;
    cursor: pointer;
    padding: 2%;
    border-radius: 3px;
    background-color: transparent;
    appearance: none;
    border: none;
    outline: none;
    color: $secondaire-txt;
    font-size: 20px;
    transition: 0.5s ease;
    user-select: none;
    &:hover,
    &:focus {
      color: $primaire-txt;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px white, 0 0 0 4px $secondaire-bg;
    }
  }

  &__prev,
  &__next {
    top: 50%;
    margin-top: -20px;
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }

  &__close {
    right: 0;
    top: 0;
  }
}