.tags {
  li a {
    text-align: center;
    font-size: $xs;
    border-radius: 25px;
    border: solid 1px $secondaire-border;
    margin-right: 3px;
    padding: 0 5px;
    color: $secondaire-txt;
  }
  & li a:hover,
  & li a:active {
    cursor: pointer;
    border-radius: 25px;
    border: solid 1px $primaire-border;
    background-color: $primaire-bg;
    color: $primaire-a;
  }
}
