.tagsNav,
.tags {
  li a {
    text-align: center;
    font-size: $s;
    border-radius: 25px;
    border: solid 1px $secondaire-border;
    background-color: white;
    margin: 0 2px;
    padding: 0 5px;
    color: $secondaire-txt;

    &.selected,
    &:hover {
      cursor: pointer;
      border-radius: 25px;
      border: solid 1px $primaire-border;
      background-color: $primaire-bg;
      color: $primaire-a;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px white, 0 0 0 4px $primaire-bg;
    }
  }
}

@media only screen and (max-width: 426px) {
  .tagsNav
  .tags {
    li a {
      font-size: $xs;
    }
  }
}
