.id {
  background-color: #fafafa;
  padding: 25px;

  &__card {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    & ul {
      margin: 10px 0;
    }
  }

  & .tag {
    margin-top: 10px;
  }

  &__image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;

    & img {
      width: 175px;
      height: 175px;
      object-fit: cover;
      transition: all 0.5s ease;

      &:hover,
      &:focus {
        transform: scale(1.25);
        transform-origin: 50% 50%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .id {
    padding: 0;
    margin-bottom: 50px;

    &__infos {
      margin-left: 10px;
      width: 70%;
    }

    &__contact {
      margin-top: 10px;
      position: fixed;
      bottom: 25px;
      width: 90%;
      text-align: center;
    }

    &__image {
      width: 85px;
      height: 85px;
      margin-right: 10px;

      & img {
        width: 85px;
        height: 85px;
      }
    }

    & ul {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}
