// bouton par défaut
// page pro photographe : "contactez-moi", "envoyez" (formulaire), "filtre"

.btn {
  border: unset;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px white, 0 0 0 6px $secondaire-bg;
  }
}

// bouton "passez au contenu"
// page d'accueil
.evitement {
  width: 100%;
  display: inline-flex;
  justify-content: center;

  &__link {
    position: fixed;
    padding: 3px 6px;
  }
}

@media only screen and (max-width: 600px) {
  .evitement {
    display: none;
    &__link {
      top: 92%;
    }
  }
  .evitement.scroll {
    display: inline-flex;
    transition: all 1s ease; // ne fonctionne pas
  }
}
