// bouton par défaut
// page pro photographe : "contactez-moi", "envoyez" (formulaire)

.btn {
  background-color: $primaire-bg;
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: $primaire-a;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: $secondaire-bg;
    color: $secondaire-a;
  }
}

// bouton "passez au contenu"
// page d'accueil
.evitement {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.btn-homepage {
  padding: 3px 6px;

  & a {
    color: $primaire-a;
  }

  & a:hover {
    color: $secondaire-a;
  }
}

@media only screen and (max-width: 600px) {
  .btn-homepage {
    display: none;
  }
  .id__contact {
    margin-top: 10px;
    position: fixed;
    bottom: 25px;
    width: 90%;
    text-align: center;
  }
}
