*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  width: 90%;
  max-width: 1150px;
  margin: 10px auto;

  a,
  a:visited {
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
  }

  li {
    list-style: none;
    display: inline-block;

    & a,
    & a:visited {
      text-decoration: none;
      text-align: center;
    }
  }

  // supprime le pseudo element Firefox qui affiche une bordure en pointille
  button::-moz-focus-inner,
  a::-moz-focus-inner {
    border: 0;
  }
}

main {
  padding-bottom: 25px;;
}
