body {
  @include font();
}

.evitement {
  font-size: $xs;
  color: $primaire-a;

  &:hover {
    color: $secondaire-a;
  }
}

.header {
  &__tags {
    font-size: $s;
  }

  &__headline {
    font-size: $l;
    color: $secondaire-txt;
  }
}

nav {
  text-align: center;
  line-height: 2em;
}

.btn {
  font-size: $s;
  font-weight: 700;
  background-color: $primaire-bg;
  color: $primaire-a;

  &:hover,
  &:focus {
    background-color: $secondaire-bg;
    color: $secondaire-a;
  }

}

.card {
  &__name {
    font-size: $xxl;
    font-weight: $regular;
    color: $primaire-txt;
    border-radius: 3px;
    line-height: 1.5em;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px white, 0 0 0 4px $secondaire-bg;
    }
  }

  &__location {
    font-size: $l;
    color: $secondaire-txt;
    border-radius: 3px;
    line-height: 1.5em;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px white, 0 0 0 4px $primaire-bg;
    }
  }

  &__tagline {
    font-weight: $bold;
    border-radius: 3px;
    line-height: 1.5em;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px white, 0 0 0 4px $secondaire-a;
    }
  }

  &__price {
    font-size: $s;
    font-weight: $light;
    border-radius: 3px;
    line-height: 2em;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px white, 0 0 0 4px $secondaire-a;
    }
  }
}

.filter {
  &__title,
  &__select {
    font-weight: $bold;
  }

  &__select,
  &__options {
    color: white;
    font-size: $s;
  }
}

.gallery {
  color: $secondaire-txt;
}

.footer {
  font-weight: $bold;
}

@media only screen and (max-width: 600px) {
  .card {
    &__name {
      font-size: $xl;
    }

    &__price {
      font-size: $s;
    }
  }
}

@media only screen and (max-width: 426px) {
  .card {
    &__name {
      font-size: $l;
    }

    &__location {
      font-size: $s;
    }

    &__tagline {
      font-size: $xs;
    }
  }
}
