body {
  @include font();
}

.btn-homepage {
  font-size: $xs;
}

.header {
  &__tags {
    font-size: $xs;
  }

  &__headline {
    font-size: $l;
    color: $secondaire-txt;
  }
}

nav {
  text-align: center;
  line-height: 2em;
}

.card {
  &__name {
    font-size: $l;
    font-weight: $regular;
    color: $primaire-txt;
    border-radius: 3px;
    line-height: 1,5em;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px white, 0 0 0 4px $primaire-bg;
    }
  }

  &__location {
    font-size: $m;
    color: $secondaire-txt;
    border-radius: 3px;
    line-height: 1,5em;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px white, 0 0 0 4px $primaire-bg;
    }
  }

  &__tagline {
    font-weight: $bold;
    border-radius: 3px;
    line-height: 1.5em;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px white, 0 0 0 4px $primaire-bg;
    }
  }

  &__price {
    font-size: $xs;
    font-weight: $light;
    border-radius: 3px;
    line-height: 2em;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px white, 0 0 0 4px $primaire-bg;
    }
  }
}

.filter {
  &__title,
  &__select {
    font-weight: $bold;
  }

  &__select,
  &__options {
    color: white;
  }
}

.gallery {
  color: $secondaire-txt;
  font-weight: $bold;
}

.footer {
  font-weight: $bold;
}
