.photographers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 25px;
}

@media only screen and (max-width: 600px) {
  .photographers {
    display: block;
    width: 90%;
    margin: 25px auto;
  }
}
