// fonts
$type: Roboto, Arial, Helvetica, sans-serif;
$xs: xx-small;
$s: small;
$m: medium;
$ml: larger;
$l: large;
$xl: x-large;
$xxl: xx-large;
$light: 300;
$regular: 400;
$bold: 700;

// couleurs
$primaire-bg: #901c1c;
$primaire-txt: #d3573c;
$primaire-border: #901c1c;
$primaire-a: white;
$secondaire-bg: #db8876;
$secondaire-txt: #901c1c;
$secondaire-border: lightgray;
$secondaire-a: black;
$contrast-bg: #fafafa;
$contrast-txt: #525252;